body {
  background-color: #f6f8fa;
}
/* Container */
.container {
  display: grid;
  grid-template-rows: 65px 1fr;
}
/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;

  display: grid;
  grid-template-columns: 230px 1fr;
  justify-items: center;
  align-items: center;

  border: solid red 1px;
}
/* Logo */
.logo {
  width: 100px;
}
/* Sub-Header */
.sub-header {
  width: 100%;
  height: 100%;
  padding: 16px;

  display: flex;
  justify-content: space-between;
}
/* Search Bar */
.search-bar {
  max-width: 625px;
  width: 625px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #efefef;
  padding: 0 1rem;
}
/* Search Btn */
.btn-search {
  position: absolute;
  top: 25px;
  left: 850px;
}
/* Account Info */
.acc-info {
  width: 220px;
  /* border: solid black 1px; */ 
}
.account {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  align-items: center;
}
.account-picture {
  width: 30px;
  border-radius: 50px;
}
.account-bell {
  position: absolute;
  top: 25px;
  right: 30px;
}
/* Content */
.content {
  margin-top: 65px;
  height: calc(100vh - 65px);

  display: grid;
  grid-template-columns: 230px 1fr;
}
/* Nav */
.nav {
  border: solid blue 1px;

  padding: 16px;

  display: flex;
  flex-direction: column;

  gap: 10px;
}
.nav-title {
  font-size: 14px;
  color: #898989;
}
.btn {
  color: #898989;
}
.btn-dashboard {
  border: none;
  border-radius: 5px;
  background-color: rgb(194, 191, 209);
  color: rgb(63, 47, 101);
  padding: 0.8rem;
  font-weight: bold;
}
/* Dashboard */
.section {
  padding-bottom: 20px;
  border: solid green 1px;
}
